*.pyc 
build/**/* 
*.mode1v3 
*.pbxuser 
*~.nib 
*.o 
*.lo 
*.la 
#*# 
.*.rej 
*.rej 
.*~ 
*~ 
.#* 
.DS_Store 
build-mac 
build-classic 
build-gcc 
sysbuild 
*Data 
*.macyucky 
version.h 
version.c 
*.sit 
svn-commit* 
*.mode1 
*.pbxuser 
build 
pathdef.m* 
*.class 
*objinfo.txt 
*-info.txt 
files-to-exclude.txt 
*.tar.gz 
*.zip 
*.def 
*.mxo.DS_Store
