[core]
	editor = mvim -f
	pager = =
	excludesfile = /Users/hawchorn/.global_ignore
[alias]
	st = status
	ci = commit
	co = checkout
    br = branch
    rb = pull --rebase
[user]
	name = Josh Hawthorne
	email = josh@joshhawthorne.com
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
